Use controladorfp;

DROP TABLE IF EXISTS Estagio;
DROP TABLE IF EXISTS Capacitor;
DROP TABLE IF EXISTS Tipo_Potencia;
DROP TABLE IF EXISTS Predefinido;
DROP TABLE IF EXISTS Predefinido;
DROP TABLE IF EXISTS Estrutura;
DROP TABLE IF EXISTS Outros;
DROP TABLE IF EXISTS Compensacao;
DROP TABLE IF EXISTS Tipo_Estagio;
DROP TABLE IF EXISTS Modo_Compensacao;
DROP TABLE IF EXISTS Medicao;

-- *************************************************************************************************
-- Cria Tabela com dados do Tipo de Potência
-- *************************************************************************************************
Create table Tipo_Potencia 
(
	Tipo_Potencia_ID int not null,
    Tipo_Potencia_Sigla char (1) not null,
    Tipo_Potencia_Descricao varchar (320) not null
);

-- Constraints
alter table Tipo_Potencia add constraint PK_Tipo_Potencia primary key (Tipo_Potencia_ID);
alter table Tipo_Potencia add constraint UN_Tipo_Potencia_Sigla unique (Tipo_Potencia_Sigla);

-- *************************************************************************************************
-- Cria Tabela com dados do Capacitor
-- *************************************************************************************************
Create table Capacitor 
(
	Capacitor_ID int not null,
	Capacitor_Fabricante varchar(300) not null,
	Capacitor_Potencia float not null,
	Capacitor_Tensao float not null,
	Capacitor_Unidade char(5) not null
);

-- Constraints
alter table Capacitor add constraint PK_Capacitor primary key (Capacitor_ID);

-- *************************************************************************************************
-- Cria Tabela com dados do Estágio
-- *************************************************************************************************
Create table Estagio 
(
	Estagio_ID int not null,
	Tipo_Potencia_ID int not null,
	Capacitor_ID int not null,
	Estagio_Descricao varchar(320) null
);

-- Constraints
alter table Estagio add constraint PK_Estagio primary key (Estagio_ID);
alter table Estagio add constraint FK_Estagio_Tipo_Potencia foreign key (Tipo_Potencia_ID) references Tipo_Potencia(Tipo_Potencia_ID);
alter table Estagio add constraint FK_Estagio_Capacitor foreign key (Capacitor_ID) references Capacitor(Capacitor_ID);

-- *************************************************************************************************
-- Cria Tabela com dados de Estrutura
-- *************************************************************************************************
Create table Estrutura 
(
	Estrutura_ID int not null,
	Estrutura_Estagio varchar(7) not null
);

-- Constraints
alter table Estrutura add constraint PK_Estrutura primary key (Estrutura_ID);

-- *************************************************************************************************
-- Cria Tabela com dados de Predefinido
-- *************************************************************************************************
Create table Predefinido 
(
	Predefinido_ID int not null,
	Estrutura_ID int not null,
	Predefinido_Potencia float not null,
	Predefinido_Unidade char(5) not null,
	Predefinido_Quantidade int not null
);

-- Constraints
alter table Predefinido add constraint PK_Predefinido primary key (Predefinido_ID); 
alter table Predefinido add constraint FK_Predefinido_Estrutura foreign key (Estrutura_ID) references Estrutura(Estrutura_ID);

-- *************************************************************************************************
-- Cria Tabela com dados de Outros
-- *************************************************************************************************
Create table Outros 
(
	Outros_ID int not null,
	Outros_TempoDescarga int not null,
	Outros_Unidade varchar(20) not null
);

-- Constraints
alter table Outros add constraint PK_Outros primary key (Outros_ID);

-- *************************************************************************************************
-- Cria Tabela com dados dos Tipos de Estágios
-- *************************************************************************************************
Create table Tipo_Estagio 
(
	Tipo_Estagio_ID int not null,
	Tipo_Estagio_Nome varchar(50) not null,
	Tipo_Estagio_Descricao varchar(250) null
);

-- Constraints
alter table Tipo_Estagio add constraint PK_Tipo_Estagio primary key (Tipo_Estagio_ID);

-- *************************************************************************************************
-- Cria Tabela com dados dos Modos de Compesação
-- *************************************************************************************************
Create table Modo_Compensacao 
(
	Modo_Compensacao_ID int not null,
	Modo_Compensacao_Nome varchar(50) not null
);

-- Constraints
alter table Modo_Compensacao add constraint PK_Modo_Compensacao primary key (Modo_Compensacao_ID);

-- *************************************************************************************************
-- Cria Tabela com dados de Compensacao
-- *************************************************************************************************
Create table Compensacao 
(
	Compensacao_ID int not null,
	Tipo_Estagio_ID int not null,
	Modo_Compensacao_ID int not null
);

-- Constraints
alter table Compensacao add constraint PK_Compensacao primary key (Compensacao_ID);
alter table Compensacao add constraint FK_Compensacao_Tipo_Estagio foreign key (Tipo_Estagio_ID) references Tipo_Estagio(Tipo_Estagio_ID);
alter table Compensacao add constraint FK_Compensacao_Modo_Compensacao foreign key (Modo_Compensacao_ID) references Modo_Compensacao(Modo_Compensacao_ID);

-- *************************************************************************************************
-- Cria Tabela com dados de Medições Importados do Excel
-- *************************************************************************************************
Create table Medicao 
(
    Medicao_ID int not null AUTO_INCREMENT,
	Medicao_DataInicio datetime not null,
	Medicao_DataFim datetime not null,
	Medicao_PotenciaAtivaTotal float null,
	Medicao_PotenciaReativaTotal float null,
	Medicao_PotenciaAparenteAritmetica float null,
	Medicao_FpRealMedia float null,
	Medicao_IndMedia varchar(5) not null,
    PRIMARY KEY (Medicao_ID, Medicao_DataInicio)
);


USE controladorfp;

-- Deleta registros existentes
DELETE FROM Estagio;
DELETE FROM Tipo_Potencia;
DELETE FROM Capacitor;
DELETE FROM Predefinido;
DELETE FROM Estrutura;
DELETE FROM Outros;
DELETE FROM Compensacao;
DELETE FROM Modo_Compensacao;
DELETE FROM Tipo_Estagio;
DELETE FROM Medicao;

-- ******************************************************    
-- Popula tabela Tipo_Potencia
-- ******************************************************
INSERT INTO Tipo_Potencia (Tipo_Potencia_ID,Tipo_Potencia_Sigla,Tipo_Potencia_Descricao)
			VALUES
			(1, 'C', 'Capacitor Trifásico'),
			(2, 'L', 'Reator de Derivação Trifásico');

Select * from Tipo_Potencia;

-- ******************************************************    
-- Popula tabela Capacitor
-- ******************************************************

Select * from Capacitor;

-- ******************************************************    
-- Popula tabela Estagio
-- ******************************************************

select e.Estagio_ID, tp.Tipo_Potencia_Sigla, e.Estagio_Descricao, c.Capacitor_Potencia, c.Capacitor_Unidade
from Estagio e 
join Tipo_Potencia tp on e.Tipo_Potencia_ID = tp.Tipo_Potencia_ID
join Capacitor c on c.Capacitor_ID = e.Capacitor_ID;

-- ******************************************************    
-- Popula tabela Estrutura
-- ******************************************************
INSERT INTO Estrutura (Estrutura_ID,Estrutura_Estagio)
			VALUES
			(1, '1-1-1-1'),
			(2, '1-1-2-2'),
			(3, '1-2-2-4'),
			(4, '1-2-3-3'),
			(5, '1-2-4-4'),
			(6, '1-1-2-4'),
			(7, '1-2-3-4'),
			(8, '1-2-4-8'),
			(9, '1-1-2-3');
            
Select * from Estrutura;

-- ******************************************************    
-- Popula tabela Predefinido
-- ******************************************************
INSERT INTO Predefinido (Predefinido_ID,Estrutura_ID,Predefinido_Potencia,Predefinido_Unidade,Predefinido_Quantidade)
			VALUES
			(1, 1, 10, 'kVAr', 12);

select p.Estrutura_ID, e.Estrutura_Estagio, p.Predefinido_Potencia,p.Predefinido_Unidade, p.Predefinido_Quantidade
from Predefinido p join Estrutura e on p.Estrutura_ID = e.Estrutura_ID;

-- ******************************************************    
-- Popula tabela Outros
-- ******************************************************
INSERT INTO Outros (Outros_ID,Outros_TempoDescarga,Outros_Unidade)
			VALUES
			(1, 30, 'Sec');

select * from Outros;

-- ******************************************************    
-- Popula tabela Tipo_Estagio
-- ******************************************************
INSERT INTO Tipo_Estagio (Tipo_Estagio_ID,Tipo_Estagio_Nome,Tipo_Estagio_Descricao)
			VALUES
			(1, 'Inserido', 'Valores de estágios inseridos manualmente.'),
			(2, 'Predefinido', 'Valores de estágios inseridos conforme descrito na opção predefinido.'),
			(3, 'DCM - Monitoramento Dinâmico de Capacitores', 'Segue dinamicamente os valores do estágio.');

select * from Tipo_Estagio;

-- ******************************************************    
-- Popula tabela Modo_Compensacao
-- ******************************************************
INSERT INTO Modo_Compensacao (Modo_Compensacao_ID,Modo_Compensacao_Nome)
			VALUES
			(1, 'PFW03-M12 (Modo inteligente)'),
			(2, 'Sequencial Ascendente'),
			(3, 'Sequencial Descendente'),
			(4, 'Linear'),
			(5, 'Circular'),
			(6, 'Manual');

select * from Modo_Compensacao;

-- ******************************************************    
-- Popula tabela Compensacao
-- ******************************************************
INSERT INTO Compensacao (Compensacao_ID,Tipo_Estagio_ID,Modo_Compensacao_ID)
			VALUES
			(1, 1, 1);

select c.Compensacao_ID, te.Tipo_Estagio_Nome, te.Tipo_Estagio_Descricao, mc.Modo_Compensacao_Nome
from Compensacao c
join Tipo_Estagio te ON te.Tipo_Estagio_ID = c.Tipo_Estagio_ID
join Modo_Compensacao mc ON mc.Modo_Compensacao_ID = c.Modo_Compensacao_ID;

-- ******************************************************    
-- Popula tabela Medicao
-- ******************************************************
INSERT INTO Medicao (Medicao_DataInicio,Medicao_DataFim,
Medicao_PotenciaAtivaTotal,Medicao_PotenciaReativaTotal, Medicao_PotenciaAparenteAritmetica,
Medicao_FpRealMedia, Medicao_IndMedia)
			VALUES
			('2023-05-17 00:00:00', '2023-05-17 00:59:00', 14326.78, -2881.58, 14769.88, 0.97, 'Cap');

select * from Medicao;

